body {
	background: #002e8b;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #ccc;
	display: flex;
	justify-content: center;
	/* flex-direction: column; */
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 100px 0;
	width: 200px;
}

.description {
	text-align: center;
}

.second-level-desc {
	color: #ccc;
	font-size: 12px;
}

.centralised-anchor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	font-size: 15px;
	color: aquamarine;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

.down-arrow {
	pointer-events: none;
}
